html, body {
  background: #222222;
  color: #EEEEEE;
}

article {
  border-color: #220000;
  color: #BB99AA;
  background: #131313;
}

body > aside {
  border-color: #220000;
  background: #330011;
}

header {
  border-color: #000000;
  background: #330011;
}

#pulse {
  color: #CC3355;
}

h1, h2, dt, cite, u {
  color: #EEEEEE;
}

dd, blockquote, dfn, blockquote p {
  color: #DD0013;
}

p {
  color: #BB99AA;
}

hr {
  color: #FFBBC3;
}

a[href] {
  color: #BCBCBC;
}

a[href]:hover {
  color: #DEDEDE;
}
