<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title | default: site.github.repository_name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=670">
    <link rel="stylesheet" href="/src/style.css">
    <link id="default-style" rel="stylesheet" title="Default Style" href="/src/themes/nLeg.css">
    <link id="nLeg-style" rel="stylesheet alternate" title="New Legendary" href="/src/themes/nLeg.css">
    <link id="night-style" rel="stylesheet alternate" title="Night" href="/src/themes/night.css">
    <link id="modern-style" rel="stylesheet alternate" title="Modern" href="/src/themes/modern.css">

    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/tools/">T<span style="margin-right: -.122em;"></span>ꝏls</a>
        </nav><!--  No whitespace allowed!
     --><a href="/">
            <h1>{{ site.shorttile | default: site.title | default: site.github.repository_name }}</h1>
            <p id="pulse">{% for splash in site.splashes %}
                <span {% if forloop.index == 1 %}      {% else %}hidden{% endif %}>{{ splash }}</span>{% endfor %}
            </p>
        </a><!--  No whitespace allowed!
     --><nav>
            <a href="/languages/">Languages</a>
            <a href="/scripts/">Scripts</a>
            <a href="http://langdev.xyz/dictionary/">Dictionary</a>
        </nav>
    </header>

{{ content }}
    <script type="text/javascript" src="/src/script.js" async></script>

</html>
